:root {
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #f0f0f0;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
}

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: var(--black);
  background: var(--white);
  /* background-image: url("../static/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

/* Typography */
.center {
  text-align: center;
}

h1 {
  margin: 0.5em 0 1em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--almost-black);
}

h2 {
  margin: 0.5em 0 1em;
  font-size: 20px;
  line-height: 1.2;
  color: var(--grey-dark);
}

p {
  margin: 24px 0;
}

/* Cards */
.card-wrapper {
  margin: 0 auto;
  padding: 0px 30px;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 520px) {
  .card-wrapper {
    padding: 30px 0 0;
  }
}

@media only screen and (max-width: 520px) {
  .card {
    margin: 0 0 30px;
    width: 100%;
    border-radius: 0;
  }
}

/* Forms */
form {
  transition: opacity .15s ease;
}

form.loading {
  pointer-events: none;
  opacity: 0.75;
}

label {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--grey-medium);
  display: block;
}

.field {
  margin: 0 0 24px;
  padding: 11px 16px 9px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  color: var(--almost-black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  background: var(--almost-white);
  transition: border-color .15s ease;
}

.field:focus {
  border-color: var(--grey-medium);
  outline: none;
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--red);
}

.error--hidden {
  display: none;
}

/* Buttons */
.btn {
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--primary);
  transition: color .15s ease, background-color .15s ease;
}

.btn:hover {
  background: var(--primary-dark);
}

.btn--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btn--secondary:hover {
  background: var(--secondary-dark);
}

input[type=submit] {
  margin: 34px auto 24px;
  display: block;
}

/* //////////////////////////////////MY STYLES//////////////////////////////////////// */


/* Custom styles for product cards */
.product-cards {
  margin-top: 20px;
}

.card {
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  /* width: 460px; */ /* Remove fixed width */
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 5px;
  background: var(--white);
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
}

.card-text {
  font-size: 1rem;
  margin: 0;
}

.btn-primary {
  background-color: #242424;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.cart-item {
  border: solid #000 1px;
}

.btn-remove {
  background-color: red;
}

/* Modal background style */
.modal-background {
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  z-index: 9999; /* Higher z-index to appear on top */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
}

/* Show the modal when opacity changes */
.modal-background.show {
  opacity: 1;
  visibility: visible;
}

/* Modal content style */
.modal-content {
  display: none; /* Initially hidden */
  background-color: #d4edda; /* Green color */
  color: #155724; /* Dark green text */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 300px; /* Adjust width as needed */
}

/* Alert Success Color */
.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.add-to-cart-btn {
  margin-top: 10px;
  width: 300px;
}

.card-body {
  padding: 20px 20px 20pxpx 20px;
}

.container-fluid {
  width: 98%;
  padding: 0;
}

.filter-card {
  border: solid rgb(212, 212, 212) 1px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.navbar {
  padding: 8px 0px;
}

.login_card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 460px;
  border: solid #dbdbdb 1px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 10px;
  background: var(--white);
}

.profile-card {
  padding: 20px 40px;
  border: solid #dbdbdb 1px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 10px;
  background: var(--white);
}

.cart-card{
  padding: 20px 40px;
  border: solid #dbdbdb 1px;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
  border-radius: 10px;
  background: var(--white);
}

.cart-info {
  padding: 0 0 0 20px;
}

.form-check {
  padding-left: 15px;
}

.change-pwd-btn {
  margin-top: 20px;
  width: 100%;
}

.nav-hr {
  margin: 0px;
}

.nav-username {
  text-decoration: none;
  color: rgb(178, 178, 178);
  margin: 8px;
}

.nav-username:hover {
  text-decoration: none;
  color: rgb(178, 178, 178);
}

.bread_home {
  text-decoration: none;
  color: #000;
}

.breadcrumb {
  margin: 0;
}

.breadrow {
  margin-top: 15px;
}

.product_count {
  color: #8d8d8d;
}

.add-items-cart-btn {
  background-color: white;
  color: #ff0000;
  border: #ff0000 solid 1px;
  width: 300px;
}
.add-items-cart-btn:hover {
  color: #fff;
  background-color: #ff0000;
}

.empty-cart {
  margin: 70px 0;
}

.search-form-input {
  margin-right: 5px !important;
  border-radius: 10px 0 0 10px;
  height: 38px; 
  margin-right: 0 !important;
  border-color: #d6d6d6;
}
.search-form-input:focus {
  box-shadow: none;
  border: #9e9e9e solid 1px;
}
.search-form-input::placeholder {
  color: rgb(188, 188, 188);
}

.search-btn {
  border-radius: 0 10px 10px 0;
  background-color: #5f5f5f;
}
.search-btn:hover {
  background-color: #000000;
}

footer {
  color: white;
  margin-top: auto;
}

.page-link {
  color: black;
  box-shadow: none; /* Remove the box shadow by default */
}

.page-item.active .page-link {
  background-color: black;
  border-color: black;
}
.page-link:focus {
  box-shadow: none;
}
.page-link:hover {
  color: #000;
}

.delete-wishlist-btn {
  position: absolute;
  right: 0;
  padding: 10px;
}

.bi-x-lg {
  color: white; 
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header-and-body {
  min-height: 100vh;
}

/* Works on Chrome, Safari, and newer versions of Edge */

/* width */
::-webkit-scrollbar {
  width: 8px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626262;
}

.add-to-wishlist-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1; /* Ensure the button is above the card content */
}