{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card-wrapper">
        <div class="card">

            <h1 class="center">Add Product</h1>
            <form name="add_product_form" enctype="multipart/form-data">

                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="price">Price</label>
                <input type="text" name="price" class="field" required>

                <label for="image">Image</label>
                <input type="file" name="image" accept="image/*" class="field" required>

                <label for="category">Category</label>
                <select name="category" id="category" class="field">
                    <option value="Topwear">Topwear</option>
                    <option value="Bottomwear">Bottomwear</option>
                    <option value="Indian & Festive Wear">Indian & Festive Wear</option>
                    <option value="Innerwear & Sleepwear">Innerwear & Sleepwear</option>
                    <option value="Footwear">Footwear</option>
                    <option value="Sports & Active Wear">Sports & Active Wear</option>
                    <option value="Gadgets">Gadgets</option>
                    <option value="Fashion Accessories">Fashion Accessories</option>
                </select>

                <p class="error error--hidden"></p>

                <input type="submit" value="Add" class="btn">
            </form>

        </div>
    </div>
</div>
{% endblock %}