{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card-wrapper">
        <div class="login_card">

            <h1 class="center">Add Product</h1>
            <form name="add_product_form" enctype="multipart/form-data">

                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="price">Price</label>
                <input type="text" name="price" class="field" required>

                <label for="image">Image</label>
                <input type="file" name="image" accept="image/*" class="field" required>

                <label for="gender">Gender</label>
                <select name="gender" id="gender" class="field">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                </select>

                <label for="category">Category</label>
                <select name="category" id="category" class="field">
                    <option value="" disabled selected>Select Category</option>
                    <option value="Topwear" data-gender="Men">Topwear</option>
                    <option value="Bottomwear" data-gender="Men">Bottomwear</option>
                    <option value="Indian & Festive Wear" data-gender="Men">Indian & Festive Wear</option>
                    <option value="Innerwear & Sleepwear" data-gender="Men">Innerwear & Sleepwear</option>
                    <option value="Footwear">Footwear</option>
                    <option value="Sports & Active Wear">Sports & Active Wear</option>
                    <option value="Gadgets">Gadgets</option>
                    <option value="Fashion Accessories" data-gender="Men">Fashion Accessories</option>
                    <option value="Kurtas & Suits" data-gender="Women">Kurtas & Suits</option>
                    <option value="Sarees" data-gender="Women">Sarees</option>
                    <option value="Jackets" data-gender="Women">Jackets</option>
                    <option value="Dresses" data-gender="Women">Dresses</option>
                    <option value="Tops" data-gender="Women">Tops</option>
                </select>

                <p class="error error--hidden"></p>

                <input type="submit" value="Add" class="btn">
            </form>

        </div>
    </div>
</div>
{% endblock %}