<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban</title>
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <!-- Just an image -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="../static/images/logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Men
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('home', category='Topwear') }}">Topwear</a>
                        <a class="dropdown-item" href="{{ url_for('home', category='Bottomwear') }}">Bottomwear</a>
                        <a class="dropdown-item" href="{{ url_for('home', category='Indian & Festive Wear') }}">Indian &
                            Festive Wear</a>
                        <a class="dropdown-item"
                            href="{{ url_for('home', category='Innerwear & Sleepwear') }}">Innerwear & Sleepwear</a>
                        <a class="dropdown-item" href="{{ url_for('home', category='Footwear') }}">Footwear</a>
                        <a class="dropdown-item" href="{{ url_for('home', category='Sports & Active Wear') }}">Sports &
                            Active Wear</a>
                        <a class="dropdown-item" href="{{ url_for('home', category='Gadgets') }}">Gadgets</a>
                        <a class="dropdown-item" href="{{ url_for('home', category='Fashion Accessories') }}">Fashion
                            Accessories</a>
                    </div>
                </li>
                {% if session.logged_in %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('addproduct') }}">Add Product</a>
                </li>
                <li>
                    <a class="nav-link" href="/user/signout">Sign Out</a>
                </li>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <!-- Bootstrap js -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</body>

</html>