<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban</title>
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/normalize.css">
</head>

<body>
    <!-- Just an image -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="../static/images/logo.png" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if session.logged_in %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('addproduct') }}">Add Product</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/user/signout">Sign Out</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                    </li>
                </ul>
            {% endif %}

        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <!-- Bootstrap js -->
    <!-- <script src="/static/js/bootstrap.min.js"></script> -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>

</html>