<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban</title>
    <link rel="icon" href="../static/images/icon.png" type="image/x-icon">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>
    <div class="header-and-body">
        <!-- Just an image -->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <img src="../static/images/logo1.png" height="30" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex ms-auto" name="search-form" style="height: 38px; width: 50%;">
                        <input class="form-control search-form-input me-2" name="search_query" type="search"
                            placeholder="Search for products" aria-label="Search">
                        <button class="btn btn-primary search-btn" type="submit" style="height: 38px; padding: 8px;">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown women-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Women
                            </a>
                            <div class="dropdown-menu" style="left: auto; right: 0;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Kurtas & Suits', gen='Women') }}">Kurtas &
                                    Suits</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Sarees', gen='Women') }}">Sarees</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Jackets', gen='Women') }}">Jackets</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Dresses', gen='Women') }}">Dresses</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Tops', gen='Women') }}">Tops</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Footwear', gen='Women') }}">Footwear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Sports & Active Wear', gen='Women') }}">Sports
                                    &
                                    Active Wear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Gadgets', gen='Women') }}">Gadgets</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown men-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Men
                            </a>
                            <div class="dropdown-menu" style="left: auto; right: 0;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Topwear', gen='Men') }}">Topwear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Bottomwear', gen='Men') }}">Bottomwear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Indian & Festive Wear', gen='Men') }}">Indian
                                    &
                                    Festive Wear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Innerwear & Sleepwear', gen='Men') }}">Innerwear
                                    & Sleepwear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Footwear', gen='Men') }}">Footwear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Sports & Active Wear', gen='Men') }}">Sports &
                                    Active Wear</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Gadgets', gen='Men') }}">Gadgets</a>
                                <a class="dropdown-item"
                                    href="{{ url_for('home', category='Fashion Accessories', gen='Men') }}">Fashion
                                    Accessories</a>
                            </div>
                        </li>

                        {% if session.logged_in %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('wishlist') }}"><i class="bi bi-heart-fill"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('cart') }}"><i class="bi bi-bag-check-fill"></i></a>
                        </li>
                        {% if session.logged_in and session.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('addproduct') }}"><i
                                    class="bi bi-plus-square-fill"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('dashboard') }}"><i
                                    class="bi bi-graph-up-arrow"></i></a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('account') }}"><i class="bi bi-person-fill"></i></a>
                        </li>
                        <li class="nav-item dropdown hamburg-dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-list"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: auto; right: 0;">
                                <a class="nav-username">Hello {{ session['user']['name'] }}</a>
                                <hr class="nav-hr">
                                <a class="nav-link" href="/user/signout">Sign Out</a>
                            </div>
                        </li>

                        {% else %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown hamburg-dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-list"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                                    style="left: auto; right: 0;">
                                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                                    <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
                                </div>
                            </li>
                        </ul>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        {% block content %}
        {% endblock %}

    </div>
    <!-- Footer -->
    <footer class="bg-dark py-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>Contact Us</h4>
                    <p class="mb-1">Email: nachiket4251@gmail.com</p>
                    <p class="mb-1 mt-1">Phone: +1 123-456-7890</p>
                </div>
                <div class="col-md-4">
                    <h4>Follow Us</h4>
                    <p class="mb-1"><i class="bi bi-facebook me-1"></i> <a href="#"
                            class="text-decoration-none text-white">Facebook</a></p>
                    <p class="mb-1 mt-1"><i class="bi bi-twitter me-1"></i> <a href="#"
                            class="text-decoration-none text-white">Twitter</a></p>
                    <p class="mb-1 mt-1"><i class="bi bi-instagram me-1"></i> <a href="#"
                            class="text-decoration-none text-white">Instagram</a></p>
                </div>
                <div class="col-md-4">
                    <h4 class="mb-4">Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('home') }}" class="text-decoration-none text-white">Home</a></li>
                        <li><a href="{{ url_for('cart') }}" class="text-decoration-none text-white">Cart</a></li>
                        <li><a href="{{ url_for('account') }}" class="text-decoration-none text-white">Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="spinner">
        <div class="spinner-inner"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>