{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3 class="card-title">Your Cart</h3>
                    <!-- Loop through cart items retrieved from backend and display -->
                    {% for item in cart_items %}
                    <hr>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <!-- Image placeholder -->
                            <img src="../{{ item.image_path }}" alt="Product Image" width="100%">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <strong>{{ item.product_name }}</strong>
                                <h5 class="card-title">{{ item.user_id }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <button onclick="removeFromCart('{{ item.product_id }}')" class="btn btn-sm btn-remove">Remove</button>
                    </div>
                    {% endfor %}
                    <!-- End of cart items loop -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Order Summary</h3>
                    <!-- Additional order summary details -->
                    <a href="/checkout" class="btn btn-primary">Proceed to Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}