{% extends "base.html" %}

{% block content %}

<div class="container p-0">
    <div class="background-container">
        <div class="overlay"></div>
        <h1>New Collection</h1>
    </div>
    <div class="row justify-content-end">
        <form id="sortForm" class="form-inline mt-3 mr-3">
            <div class="form-group">
                <select class="custom-select" name="sort" id="sort" onchange="this.form.submit()">
                    <option value="">Sort</option>
                    <option value="asc">Low to High</option>
                    <option value="desc">High to Low</option>
                </select>
            </div>
        </form>
    </div>

    <div class="product-cards">
        <div class="row">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image_path }}" class="card-img-top" alt="{{ product.name }} Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.category }}</p>
                        <p class="card-text">₹{{ product.price }}</p>
                        {% if session.logged_in %}
                        <div class="d-flex justify-content-center"> <!-- Center-align the button -->
                            <button class="btn btn-primary add-to-cart-btn" data-product-id="{{ product._id }}">Add to Cart</button>
                        </div>
                        {% endif %}
                        <!-- Additional product details -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal-background">
        <div class="modal-content alert alert-success" role="alert">
            Item has been added to cart!
        </div>
    </div>
</div>

{% endblock %}  