{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card-wrapper mt-4">
        <div class="login_card">

            <h1 class="center">Log In</h1>
            <form name="login_form">

                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Login" class="btn btn-primary">
            </form>
            <p class="text-center" style="color: rgb(139, 139, 139);">Don't have an account? <a href="{{ url_for('signup') }}" style="text-decoration: none; color: black;">Signup</a></p>
        </div>
    </div>
</div>
{% endblock %}